# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# AI models / voices
models/
piper/voices/
*.onnx
*.bin
*.gguf

venv/
__pycache__/
*.pyc
uploads/
user_data/

